nav {
    min-width: 45%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
}

#logo {
    color: var(--fourth);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#logo > img {
    max-height: 3ch;
}

#hero {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5ch;
}

#flag {
    max-height: 240px;
    max-width: 400px;
}

#entertaining {
    max-width: 25ch;
    font-size: 2rem;
}

  #top,
  #quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* Updated padding value */
    overflow-wrap: break-word;
    gap: 20px;
  }

  #sentence {
    font-size: 2rem;
  }
  /* header section */
  
  .header {
    display: flex;
    justify-content: space-between; /* Justifies elements horizontally */
    align-items: center;
  }

  #header > a {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #topics {
    display: flex; /* Make the quote section a flex container */
    flex-direction: column; /* Stack elements vertically by default */
    align-items: center; /* Center content horizontally */
    flex-wrap: wrap;
    margin-bottom: 300px;
  }

  #horizontal-container {
    display: flex;
    gap: 25px;
  }

  .topic {
    color: var(--third);
    margin-top: 50px;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: solid var(--fourth);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media (max-width: 850px) {
    #hero {
        min-height: 350px;
        max-height: 800px;
        gap: 2ch;
    }
    #flag {
        max-width: 100px;
    }
    #entertaining {
        font-size: 1.1rem;
    }
    .quote .text {
      flex: 1; /* Allow full width when screen is narrower */
    }
    nav {
        width: 95%;
        justify-content: space-between;
    }
    #sentence {
        font-size: 1.4rem;
    }
    #topics {
        margin-bottom: 200px;
    }
    .topic {
        margin-top: 25px;
        height: 70px;
        width: 70px;
        border-radius: 5px;
      }
    #horizontal-container {
        gap: 10px;
    }
  }
  

@media (min-width: 1080px) {
    nav {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 988px;
        padding: 0;
    }
}

@media (min-width: 768px) {
    nav {
        padding: 0 40px;
    }
}