:root {
  /*
  opt 1
  --primary: #EF9C66;
  --secondary: #78ABA8;
  --third: #C8CFA0;
  --fourth: #C395E4;
  --dark: #885737;
  --light: #F3F3F3; */

  /* opt 2
  --primary: #244855;
  --secondary: #e64833;
  --third: #874f41;
  --fourth: #90aead;
  --dark: #885737;
  --light: #ffeed6; */

  --primary: #0b0c10;
  --secondary: #1f2833;
  --third: #c5c6c7;
  --fourth: #66fcf1;
  --fifth: #45a29e;
}

* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--third);
}

body {
  background: var(--primary);
  font-family: montserrat, sans-serif;
  min-height: 100vh;
}

.btn {
  /* background: var(--fifth); */
  background: radial-gradient(var(--fourth), var(--fifth));
  font-size: 1rem;
  color: var(--secondary);
  font-weight: bold;
  border: none;
  border-radius: 3ch;
  width: 20ch;
  height: 10ch;
}

.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--fourth);
}

h1 {
  font-size: 4rem;
  color: var(--fourth);
  font-weight: bold;
}

@media (max-width: 800px) {
 h1{
  font-size: 2rem;
 } 
}