:root {
  /*
  opt 1
  --primary: #EF9C66;
  --secondary: #78ABA8;
  --third: #C8CFA0;
  --fourth: #C395E4;
  --dark: #885737;
  --light: #F3F3F3; */

  /* opt 2
  --primary: #244855;
  --secondary: #e64833;
  --third: #874f41;
  --fourth: #90aead;
  --dark: #885737;
  --light: #ffeed6; */

  --primary: #0b0c10;
  --secondary: #1f2833;
  --third: #c5c6c7;
  --fourth: #66fcf1;
  --fifth: #45a29e;
  --light: #ebe9e1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary);
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}